<!-- Sección Contacto -->
<section id="contact" class="contact-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Contacto</h2>

        <div class="row">
            <div class="col-md-12">
                <div class="row center-xs">
                    <div class="col-md-4">
                        <i class="fa fa-map-marker"></i>
                        <address>
                        <strong>Dirección</strong>
                        Chihuahua, Chihuahua, México<br>
                        </address>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-mobile"></i>
                        <div class="contact-number">
                            <strong>Número de télefono</strong> 5561 282231<br>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-envelope"></i>
                        <div class="contact-number">
                            <strong>E-mail</strong> OrlandoPrieto@outlook.es<br> OrlandoPrietoRegalado@gmail.com
                        </div>
                    </div>
                </div>

                <!--                 <div class="row">
                    <div class="col-sm-12">
                        <div class="location-map">
                            <div id="mapCanvas" class="map-canvas"></div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Fin Sección Contacto -->