<!-- Sección Portafolio -->
<section id="works" class="works-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Portafolio</h2>

        <div class="row">
            <div id="grid">

                <div *ngFor="let trabajo of _infoServicePortafolio.info_portafolio" class="portfolio-item col-xs-12 col-sm-4 col-md-3">
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" [href]="trabajo.url_imagen"><i class="fa fa-search-plus"></i></a>
                                <a [href]="trabajo.link"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- /.links -->
                            <img [src]="trabajo.url_imagen" alt="image">
                            <div class="portfolio-info">
                                <h3>{{trabajo.nombre}}</h3>
                            </div>
                            <!-- /.portfolio-info -->
                        </div>
                        <!-- /.portfolio -->
                    </div>
                    <!-- /.portfolio-bg -->
                </div>
                <!-- /.portfolio-item -->

            </div>
            <!-- /#grid -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Fin Sección Portafolio -->