<!-- Sección Portafolio -->
<section id="works" class="works-section">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Cursos y Certificados</h2>
        <div class="row">
            <div id="grid">
                <div *ngFor="let curso  of _infoServiceCurso.info_cursos" class="portfolio-item col-xs-12 col-sm-4 col-md-3">
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" [href]="curso.link_imagen"><i class="fa fa-search-plus"></i></a>

                            </div>
                            <!-- /.links -->
                            <img [src]="curso.link_imagen" alt="image">
                            <div class="portfolio-info">
                                <h3>{{curso.nombre}}</h3>
                            </div>
                            <!-- /.portfolio-info -->
                        </div>
                        <!-- /.portfolio -->
                    </div>
                    <!-- /.portfolio-bg -->
                </div>

                <!-- /.portfolio-item -->
            </div>
            <!-- /#grid -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Fin Sección Portafolio -->